<% const {name,description,location,_id,imageLink} = singleFarmData,
city = location.city,
state = location.state,
id = _id %>

<div class="card h-auto" style="max-width:20rem;">
    <img src=<%= imageLink %> class="img-fluid" alt="Image of the <%= name %> farm">
    <div class=" card-body d-flex flex-column justify-content-evenly">
        <h2 class="card-title"><%= capitalize(name) %></h2>
        <p class="card-text"><%= city %>, <%= state  %></p>
        <p class="card-text"><%= description %></p>
        <a href="/farms/<%= id %>" class="btn btn-outline-primary mb-1
        ">View Farm</a>
   
        <a class="btn btn-outline-success mb-1 " href="/products/farms/<%= id %>">
            View <%= name %> products
        </a>
    </div>

</div>
