
<% const {name,description,location,_id,imageLink} = singleFarmData,
city = location.city,
state = location.state,
id = _id %>

    <div class="card h-auto" style="max-width:20rem;">
        <img src=<%= imageLink %> class="img-fluid" alt="Image of the <%= name %> farm">
        <div class=" card-body d-flex flex-column justify-content-evenly">
            <h2 class="card-title"><%= capitalize(name) %></h2>
            <h3 class="card-text">Location : </h3>
            <p class="card-text"><%= city %>, <%= state  %></p>
            <p class="card-text"><%= description %></p>
            <a href="/editFarm/<%= id %>" class="btn btn-primary dev">Edit</a>

        </div>
    </div>



