<% layout('layouts/boilerplate') %>
<div
    class=" d-flex row g-2 flex-column flex-md-row justify-content-center align-items-center text-center vw-100 vh-100">
    <div class="col-md-5 col-11 d-flex flex-column justify-content-evenly align-items-center">
        <h1 class="">OH NO! ERROR <%= status %></h1>
        <h2 class=""><%= message %></h2>
        <a aria-label="" href="<%=link%>" class="btn btn-success w-25 h-auto">
            <%= linkText %>
        </a>
    </div>
    <img class="col-md-5 col-11" src="<%= imageSource %>" alt="<%= status %> error image">
</div>
