		<div class="card singleProduct mb-5" style="width: 18rem;">
            <% let {name,price,sizeType,qty,category,id,imageLink} = singleProduct %>
			<img src=<%= imageLink %> class="card-img-top" alt="..." >
			<div class="card-body">
				<h5 class="card-title"><%=name %></h5>
				<p class="card-text">for $<%=price %> per <%= sizeType %></p>
				<p class="card-text">act now! only <%= qty %> left</p>
				<a href="/product/<%= id %>" class="btn btn-primary">More info</a>
				<a href="#" class="btn btn-primary">Add to cart</a>


			</div>
		</div>
            