		<div class="card singleProduct mb-5" style="width: 18rem;">
            <% let {name,price,unit,qty,category,id,imageLink} = singleProduct %>
			 <img src="<%= imageLink %>" class="card-img-top" alt="An image of <%= name %>">
			<div class="card-body">
				<h5 class="card-title"><%=name %></h5>
				<p class="card-text">for $<%=price %> per <%= unit %></p>
				<% if (qty === 0) { %>
				<p class="card-text">Sorry we're all out. Please check again tomorrow</p>
				<% } else if (qty > 10 ) { %>
				<p class="card-text"><%= qty %> <%= unit %> left</p>
				<% } else { %>
				<p class="card-text">act now! only <%= qty %> <%= unit %> left</p>
				<% } %>
				<a href="/product/<%= id %>" class="btn btn-primary">More info</a>
				<a href="#" class="btn btn-primary">Add to cart</a>

			</div>
		</div>
            