<%- include('heads/singleProductHead') %>

<%- include('nav') %>

<% let {name,price,size,unit,qty,category,id,imageLink} = grocerySingleProductData %>
<div id="productDiv" class="vw-100 vh-100 content-wrapper d-flex flex-column align-items-center justify-content-center">


  <div class="card mb-3" style="max-width:65%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src=<%= imageLink %> class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
    <h5 class="card-title"><%= name %></h5>
	<p  class="">Category: <a href="/categories/<%= category %> %>"><%= category %></a> </p>

    <p class="card-text">$<%= price %> per <%=size%> <%= unit %></p>
    <% if (qty === 0) { %>
    <p class="card-text">Sorry we're all out. Pleas check again tomorrow</p>
     
    <% } else { %>
    <p class="card-text"><%= qty %> <%= unit %> left for sale</p>
     
    <% } %>
    <p>Gpt description here- Prompt: Pretend you are an online saleman. Create a short, kid friendly description of [prodNameHere]</p>

	<a href="/product/<%= id %>" class="btn btn-primary">Add to cart</a>
	<a href="/editProduct/<%= id %>" class="btn btn-primary">Edit</a>

      </div>
    </div>
  </div>
</div>



</div>  



<%- include('foot') %>