<% layout('layouts/boilerplate') %>
<% const {name,description,location,_id,imageLink} = singleFarmData,
city = location.city,
state = location.state,
id = _id %>

<div id="farmDiv" class="content-wrapper d-flex flex-column align-items-center justify-content-center p-5 w-100 h-100">


    <div class="card mb-3" style="max-width: 1000px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="<%= imageLink %>" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title"><%= capitalize(name) %></h2>

                    <h3 class="card-text">Location : </h3>
                    <p class="card-text"><%= city %>, <%= state  %></p>
                    <p class="card-text"><%= description %></p>
          
                    <a href="/farms/<%= id %>/edit" class="btn btn-outline-primary mb-1
        ">Edit</a>

                    <a class="btn btn-outline-dark mzb-1" href="/farms/<%=id%>/new">
                        New <%= name %> product
                    </a>
                    <a class="btn btn-outline-success mb-1 " href="/products/farms/<%= id %>">
                        View <%= name %> products
                    </a>
                     <a class="btn btn-outline-danger mb-1 " href="/farms/<%= id %>/delete">
                        Delete <%= name %> farm
                    </a>
                </div>
            </div>
        </div>
    </div>


<h2><%= capitalize(name) %> Products:</h2>
<div id="productDiv"
		class="h-auto w-100 d-flex flex-wrap flex-column flex-md-row justify-content-evenly align-items-center">
		<% for( let singleProduct of groceryProductData ) { %>
		<%- include('../partials/prodCardView.ejs',{singleProduct}) %>
		<% } %>
        <a class="btn btn-outline-success mb-1 " href="/products/farms/<%= id %>">
                        more...
                    </a>
	</div>
</div>
 <form class="mt-2 d-flex flex-column justify-content-evenly align-items-center" action="products/review/<%=id %>" method="post">
      <div class="mt-2 d-flex flex-column justify-content-evenly align-items-center">
        <label class="fs-3" for="rating">⭐ Rating ⭐</label>
        <div class="d-flex justify-content-evenly align-items-center">
          <p>1</p>
          <input type="range" name="rating" id="rating" min="1" max="5" list="markers" step="1">
          <p>5</p>

        </div>
        <datalist id="markers">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </datalist>
      </div> 
      <div class="d-flex flex-column justify-content-evenly align-items-center">

      <label class="form-label" class="fs-3" for="reviewBody">
        Review
      </label>
      <textarea class="form-control" name="reviewBody" id="" cols="50" rows="10" style="max-width: 80%;">

      </textarea>
      </div>
    </form>
