<% layout('layouts/boilerplate') %>
<main id="content-wrapper" class="d-flex justify-content-center align-items-center flex-column vw-100 vh-100 p-5" >
    <% let {name,category,price,unit,qty,id} =grocerySingleProductData %>
<h1>Editing <i><%= capitalize(name) %></i></h1>

<form class="w-75 d-flex flex-column" action="/editProduct/<%= id %>" method="post">
    <input class="mb-3 p-1" type="text" name="qty" placeholder="current qty <%= qty %>">
    <input class="mb-3 p-1" type="text" name="price" placeholder="Current price per unit: <%= price  %>">
    <p>unit: <%= unit %></p>
    <p>Category: <%= category %></p>
    <input class="btn btn-primary" type="submit" name="submit" value="submit" style="width: 100px;">

</form>
</main>



