<% layout('layouts/boilerplate') %>

<% let {name,price,size,unit,qty,category,id,imageLink,farm,reviews, rating} = singleGroceryProductData
%>
<% if (size > 1 && unit === 'fl oz') {unit = 'ounces'} %>

<% if (unit === 'item') {unit = name} %>
<div id="productdiv"
  class="content-wrapper d-flex flex-column align-items-center justify-content-center p-5 w-100 h-100">

  <div class="card mt-5" style="max-width:90%; height: auto;">
    <div class="row d-flex flex-md-row flex-column rounded-start">
      <div class="col d-flex justify-content-center align-items-center rounded-start">
        <img src=<%= imageLink %> class="img-fluid rounded-start" alt="image of <%= name %>">
      </div>
      <div class="col">
        <div class="card-body">
          <h5 class="card-title"><%= capitalize(name) %></h5>
          <% if (rating) { %>
 <h5> <%=rating.ratingInNumbers %> <%= rating.ratingInStars %> </h5>
              <% } else { %>
              <% }%>
          <a href="/farms/<%= farm._id %>"><%= farm.name %></a>
          <p class="">category: <a href="/categories/<%= category %> %>"><%= category %></a> </p>

          <p class="card-text">$<%= price %> per <%=size%> <%= unit %></p>
          <% if (qty === 0) { %>
          <p class="card-text">sorry we're all out. please check again tomorrow</p>
          <% } else if (qty === 1) { %>
          <p class="card-text">running low! Only <%= qty %> <%= name %> left for sale</p>
          <% } else if (qty <= 5) {  %>
          <p class="card-text">running low! <%= qty %> <%= name %>s left for sale</p>

          <% } else { %>
          <p class="card-text"> <%= qty %> <%= unit %> of <%=name %> left for sale</p>

          <% } %>
          <p>lorem, ipsum dolor sit amet consectetur adipisicing elit. sequi rerum sapiente explicabo perspiciatis,
            incidunt, fugiat maxime dignissimos neque nesciunt quos natus deserunt eius non esse!</p>

          <a href="/products/<%= id %>" class="btn btn-primary">add to cart</a>
          <a href="/editproduct/<%= id %>" class="btn btn-primary">edit</a>
          <a href="/products/<%= id %>/delete" class="btn btn-primary">delete <%= name %></a>
          <!--mmmmmmm tangerones !!!!!!!!!!-->
        </div>
      </div>
    </div>


  </div>



<%- include('../partials/review.ejs',{reviews,id,where:'products'}) %>
</div>
